/*Reseta os parâmetros do navegador*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    
    background-color: #1d1d1d;
    display: flex;
}

nav li{
    
    display: inline-block;
    
}

nav li a{

    display: inline-block;
    color: rgb(#f1ca84, #ecb251);
    padding: 15px;
    text-decoration: none;
}

nav li:hover{

    color: #fffffc;
}

.menu{

    position: absolute;
    display: none;
    box-shadow: 0 0 2px #fffffc;
}

.menu a{

    display: block;
    color: #1d1d1d;
}

.menu a:hover{

    color: rgb(#f1ca84, #ecb251);
}

.dropdown menu:hover{

    color: rgb(#f1ca84, #ecb251);
}

strong{

    color: #fffffc;
}

body{
    width: 300px;
    height:300px;
     position: absolute;
     bottom: 0;
     right: 0;
     top: 0;
     left: 0;
     margin: auto;
     background-color: #1d1d1d;
    
}
h1{
    color: #ecb251;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-fluid {

    background-color: #1d1d1d;
    padding: 20px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    
  
}
