*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    
    background-color: #1d1d1d;
    display: flex;
}

.collapse navbar-collapse{
    
    display: inline-block;
    
}

.navbar-nav{

    display: inline-flex;
    color: rgb(#f1ca84, #ecb251);
    padding: 15px;
    text-decoration: none;
}

.nav-item:hover{

    color: #fffffc;
}

.dropdown-menu{
    position: absolute;
    display: none;
    box-shadow: 0 0 2px #fffffc;
}

nav-link dropdown-toggle{
    display: block;
    color: #1d1d1d;
}
